@charset "utf-8";

/*The css for all buttons*/
button{
	width: 150px;
	height: 35px;
	background-color: var(--red-dark2);

	font-size: 18px;
	color: white;

	border: solid;
	border-radius: 5px;
	border-color: var(--red-dark2);

	cursor: pointer;
}

/*The hover effect for all buttons*/
button:hover{
	color: var(--hover-gellow);
}

.close-btn-img {
	width: 30px;
	height: 30px;

	float: left; 
}

.close-btn-img:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.container-links {
	font-size: 18px;
	color: var(--red-dark2);
}

