@charset "utf-8";

a {
	text-decoration: none;
	color: white;
	padding-left: 8%;
}

a:hover {
	color: #FFD15B;
}

a:active {
	color: #FFD15B;
}

.footer {
	width: 100%;
	padding: 2% 0;
	float: left;

	background-color: #5C2D2D;

	font-size: 25px;
}

.sign-in-or-up {
	float: right;
}