@charset "utf-8";

.bar-links {
	text-decoration: none;
	color: white;
	margin-left: 8%;
}

.bar-links:hover {
	color: #FFD15B;
}

.bar-links:active {
	color: #FFD15B;
}

.header {
	width: 100%;	
	padding: 1.5% 0;
	float: left;
	background-color: #5C2D2D;
	font-size: 25px;
}

.left-bar {
	width: 20%;
	float: left;
}

.middle-bar {
	width: 60%;
	float: left;
}

.right-bar {
	width: 20%;
	float: left;
}

