@charset "utf-8";

body {
	background-color: #FFF3F3;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.content-container{
	width: 100%;
	float: left;	
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #FFD15B;
}

a:active {
	color: #FFD15B;
}

.header {
	width: 100%;	
	padding: 2% 0 2% 0;
	background-color: #5C2D2D;
	font-size: 25px;
}

.left-bar {
	width: 20%;
	float: left;
}

.middle-bar {
	width: 60%;
	float: left;
}

.right-bar {
	width: 20%;
	float: left;
}

