@charset "utf-8";

.selected-movies {
	float: left;
	width: 50%;
} 

.movie-containers {
	width: 30%;
	float: left;
	margin: 2% 2% 2% 2%; 
	border: solid;
}

.movie-covers {
	width: 100%;
	height: auto;
}

.movie-table-container {
	float: left;
	width: 50%;
}

.movies-to-select-cover {
	width: 220px;
	height: auto;
}

p {
	float: left;
}

.unset-button {
	padding: 0;
	width: 40px;
	height: 40px;
	float: right;
}

.edit-poll-buttons{
	width: 180px;
	height: 35px;
}

img{
	width: 37px;
	height: 37px;
}