@charset "utf-8";

.movie-container {
	width: 80%;

	float: left;
	margin-top: 2%;
}

.movie-containers {
	width: 50%;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.movie-containers .vote-text{
	position: relative;
	top: 50%;
	visibility: hidden;
}

.movie-covers {
	width: 100%;
	height: auto;

	position: relative;
	float: left;

	cursor: pointer;
}

.movie-covers:hover {
	transform: scale(1.05, 1.05);
	z-index: 4;
}

.voted-img {
	position: relative;
	float: left;
}

.movies-to-select-cover {
	width: 220px;
	height: auto;
}	

.voted-movie{
	width: 50%;
}