@charset "utf-8";

.movies-to-vote {
	width: 35%;
}

.movie-containers {
	width: 50%;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.movie-covers {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

.movie-covers:hover {
	transform: scale(1.05, 1.05);
	filter: blur(2px);
}

.voted-img {
	position: relative;
	float: left;
}

.movies-to-select-cover {
	width: 220px;
	height: auto;
}	