@charset "utf-8";

/*Color variables*/
:root{
	--red-dark3: #350909;
	--red-dark2: #4C1A1A;
	--red-dark1: #5C2D2D;
	--red-light3: #7E4F4F;
	--red-light2: #AC7474;
	--red-light1: #FFF3F3;

	--info-header-red: rgba(92, 45, 45, 0.15);

	--hover-gellow: #FFD15B;

	--success-green: #33a057;
	--error-red: #cc2020;
}

body {
	background-color: #FFF3F3;
}

.container{
	font-family: 'Roboto Condensed', sans-serif;
	min-height: 100%;
}

.content-container{
	float: left;
	width: 96%;
	min-height: 555px;
	padding: 1% 2% 1% 2%;
}

.left-container{
	width: 50%;

	float: left;
}

.right-container{
	width: 50%;

	float: left;
}

/*The css for all textboxes*/
input[type=text]{
	width: 30%;
	
	font-size: 18px;
	color: var(--red-dark1);

	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--red-dark1);
}

/*The css for all passwordfields*/
input[type=password]{
	width:30%;

	font-size: 18px;
	color: var(--red-dark1);

	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--red-dark1);
}

/*The css for all textareas*/
textarea{
	width: 50%;
	height: 250px;
	resize: none;

	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--red-dark1);

	font-family: 'Roboto Condensed', sans-serif;
	color: var(--red-dark1);
}

/*The css fot all labels*/
label{
	display: block;
	width: 50%;
	font-size: 20px;
	color: var(--red-dark3);
}


p { 
	font-size: 18px;
	color: var(--red-dark1);
}

h1 {
	margin: 10px 0 10px 0;

	font-size: 30px;
	color: var(--red-dark2);
}

h2 {
	margin: 10px 0 10px 0;

	font-size: 25px;
	font-weight: bold;
	color: var(--red-dark2);
}

h3 {
	margin: 5px 0 5px 0;

	font-size: 20px;
	font-weight: bold;
	color: var(--red-dark2);
}

/*The css for all the spans/holders for the error or success messages*/
.error-holders{
	font-size: 20px;
	color: var(--error-red);

	margin-left: 5px;
}

.success-holders{
	font-size: 20px;
	color: var(--success-green);

	margin-left: 5px;
}

.close-holders {
	float: left;	
}

.movies-to-select-cover {
	width: 220px;
	height: auto;
}


